<div class='container card p-3'>
    <form action="/add/process" method="post">
        <div class="col-12">
            <label>Company Name</label>
            <input type="text" class="form-control" name='companyName' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Title</label>
            <input type="text" class="form-control" name='jobTitle' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Description</label>
            <input type="text" class="form-control" name='jobDescription' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Level</label>
            <input type="text" class="form-control" name='jobLevel' placeholder="">
        </div>
        <div class="col-12">
            <label>Minimum Years Experience</label>
            <input type="text" class="form-control" name='minimumYearsExperience' placeholder="">
        </div>
        <div class="col-12">
            <label>Desire Level</label>
            <input type="range" class="form-control slnameer" min="1" max="5" value="3" name='desireLevel'>
        </div>
        <div class="col-12">
            <label>Confidence Level</label>
            <input type="range" class="form-control slnameer" min="1" max="5" value="3" name='confidenceLevel'>
        </div>
        <div class="col-12">
            <label>Application Submission Date</label>
            <input type="date" class="form-control" name='applicationSubmissionDate' placeholder="">
        </div>
        <div class="col-12">
            <label>Date of First Response</label>
            <input type="date" class="form-control" name='dateOfFirstResponse' placeholder="">
        </div>
        <div class="col-12">
            <label>Four Year Degree Required?</label>
            <input type="checkbox" class="form-control" name="fourYearDegreeRequired">
        </div>
        <div class="col-12">
            <label>CS Degree Preferred?</label>
            <input type="checkbox" class="form-control" name="csDegreePreferred">
        </div>
        <div class="col-12">
            <label>Major Corporation?</label>
            <input type="checkbox" class="form-control" name="majorCorporation">
        </div>
        <div class="col-12">
            <label>Essential Skills</label>
            <input type="text" class="form-control" name='essentialSkills' placeholder="">
        </div>
        <div class="col-12">
            <label>Location of Posting</label>
            <input type="text" class="form-control" name='locationOfPosting' placeholder="">
        </div>
        <div class="col-12">
            <label>Location of Submission</label>
            <input type="text" class="form-control" name='locationOfSubmission' placeholder="">
        </div>
        <div class="col-12">
            <label>Easy Apply?</label>
            <input type="checkbox" class="form-control" name="easyApply">
        </div>
        <div class="col-12">
            <label>Stack Type</label>
            <input type="text" class="form-control" name='stackType' placeholder="">
        </div>
        <div class="col-12">
            <label>Years Experience at Time of Application</label>
            <input type="text" class="form-control" name='yearsExperienceAtTimeOfApplication' placeholder="">
        </div>
        <div class="col-12">
            <label>Number of Featured Projects at Time of Application</label>
            <input type="text" class="form-control" name='numberOfFeaturedProjectsAtTimeOfApplication' placeholder="">
        </div>
        <div class="col-12">
            <label>Application Withdrawn?</label>
            <input type="checkbox" class="form-control" name="applicationWithdrawn">
        </div>
        <div class="col-12">
            <label>Interview Granted?</label>
            <input type="checkbox" class="form-control" name="interviewGranted">
        </div>
        <div class="col-12">
            <label>Denied Job?</label>
            <input type="checkbox" class="form-control" name="deniedJob">
        </div>
        <div class="col-12">
            <label>Offered Job?</label>
            <input type="checkbox" class="form-control" name="offeredJob">
        </div>
        <div class="col-12">
            <label>Application URL</label>
            <input type="text" class="form-control" name="applicationURL">
        </div>
        <div class="col-12">
            <label>Application Status</label>
            <select class="form-control" name='status'>
                <option value="Application Not Yet Submitted">Application Not Yet Submitted</option>
                <option value="Awaiting Response">Awaiting Response</option>
                <option value="Interview Granted">Interview Granted</option>
                <option value="Denied With Interview Granted">Denied with Interview Granted</option>
                <option value="Denied Without Interview Granted">Denied without Interview Granted
                </option>
                <option value="Job Offered">Job Offered</option>
                <option value="Withdrawn">Withdrawn</option>
                <option value="Application Lost">Application Lost</option>
            </select>
        </div>
        <div class='text-right p-3'>
            <button class='btn btn-primary' type='submit'>Submit</button>
        </div>
    </form>
</div>