<div class='container-fluid card p-3'>
    <form action="/add/process" method="post">
        <div class="col-12">
            <label>Company Name</label>
            <input type="text" class="form-control" name='companyName' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Title</label>
            <input type="text" class="form-control" name='jobTitle' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Description</label>
            <input type="text" class="form-control" name='jobDescription' placeholder="">
        </div>
        <div class="col-12">
            <label>Job Level</label>
            <input type="text" class="form-control" name='jobLevel' placeholder="">
        </div>
        <div class="col-12">
            <label>Minimum Years Experience</label>
            <input type="text" class="form-control" name='minimumYearsExperience' placeholder="">
        </div>
        <div class="col-12">
            <label>Desire Level</label>
            <input type="range" class="form-control slnameer" min="1" max="5" value="3" name='desireLevel'>
        </div>
        <div class="col-12">
            <label>Confidence Level</label>
            <input type="range" class="form-control slnameer" min="1" max="5" value="3" name='confidenceLevel'>
        </div>
        <div class="col-12">
            <label>Application Submission Date</label>
            <input type="date" class="form-control" name='applicationSubmissionDate' placeholder="">
        </div>
        <div class="col-12">
            <label>Date of First Response</label>
            <input type="date" class="form-control" name='dateOfFirstResponse' placeholder="">
        </div>
        <div class="col-12">
            <label>Four Year Degree Required?</label>
            <input type="checkbox" class="form-control" name="fourYearDegreeRequired">
        </div>
        <div class="col-12">
            <label>CS Degree Preferred?</label>
            <input type="checkbox" class="form-control" name="csDegreePreferred">
        </div>
        <div class="col-12">
            <label>Major Corporation?</label>
            <input type="checkbox" class="form-control" name="majorCorporation">
        </div>
        <div class="col-12">
            <label>Essential Skills</label>
            <input type="text" class="form-control" name='essentialSkills' placeholder="">
        </div>
        <div class="col-12">
            <label>Location of Posting</label>
            <input type="text" class="form-control" name='locationOfPosting' placeholder="">
        </div>
        <div class="col-12">
            <label>Location of Submission</label>
            <input type="text" class="form-control" name='locationOfSubmission' placeholder="">
        </div>
        <div class="col-12">
            <label>Easy Apply?</label>
            <input type="checkbox" class="form-control" name="easyApply">
        </div>
        <div class="col-12">
            <label>Stack Type</label>
            <input type="text" class="form-control" name='stackType' placeholder="">
        </div>
        <div class="col-12">
            <label>Years Experience at Time of Application</label>
            <input type="text" class="form-control" name='yearsExperienceAtTimeOfApplication' placeholder="">
        </div>
        <div class="col-12">
            <label>Number of Featured Projects at Time of Application</label>
            <input type="text" class="form-control" name='numberOfFeaturedProjectsAtTimeOfApplication' placeholder="">
        </div>
        <div class="col-12">
            <label>Application URL</label>
            <input type="text" class="form-control" name="applicationURL">
        </div>
        <div class="col-12">
            <label>Application Progress</label>
            <select class="form-control" name='progress'>
                <option value="Application Submitted">Application Submitted</option>
                <option value="Resume Reviewed">Resume Reviewed</option>
                <option value="Portfolio Referenced">Portfolio Referenced</option>
                <option value="Interview Offered">Interview Offered</option>
                <option value="Interview Completed">Interview Completed</option>
                <option value="Job Offered">Job Offered</option>
                <option value="Withdrawn">Withdrawn</option>
                <option value="Application Lost">Application Lost</option>
            </select>
        </div>
        <div class="col-12">
            <label>Closure</label>
            <select class="form-control" name='closure'>
                <option value="Outstanding">Outstanding</option>
                <option value="Accepted">Accepted</option>
                <option value="Denied">Denied</option>
                <option value="Withdrawn">Withdrawn</option>
                <option value="Application Lost">Application Lost</option>
                <option value="Never Responded">Never Responded</option>
            </select>
        </div>
        <div class="col-12">
            <label>Comments</label>
            <input class="form-control" name='comments'></input>
        </div>
        <div class='text-right p-3'>
            <a href='/viewall'><button class='btn btn-secondary'>Cancel</button></a>
            <button class='btn btn-primary' type='submit'>Submit</button>
        </div>
    </form>
</div>