<h4>Create Account</h4>
<br>

<form id='newAccountForm'>
    <label>Username</label>
    <br>
    <input id='username'>
    <br>
    <label>Password</label>
    <br>
    <input id='password'>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>

<script>

    $(document).on("submit", "#newAccountForm", function () {
        event.preventDefault()
        createNewAccount()
    });

    function createNewAccount() {
        let query = `/createaccount_process`
        console.log(query)
        $.ajax({
            url: query,
            method: "POST",
            data: {
                username: $('#username').val().trim(),
                password: $('#password').val().trim()
            }
        }).then(function (response) {
            console.log('Created account.')
            window.location.replace('/')
        })
        window.location.replace('/')
    }
</script>