<style>
    .inflated {
        transform: scale(1.1);
        transition: transform 250ms ease-in-out;
    }
    .deflated {
        transform: scale(1.0);
        transition: transform 250ms ease-in-out;
    }
</style>
<script src='scripts/ajaxCalls.js'></script>
<script src='scripts/entriesPageSidepanel.js'></script>
<script src='scripts/sidepanelBadges.js'></script>
<script src='scripts/sorts.js'></script>
<script src='scripts/cardRendering.js'></script>
<script src='scripts/runProgram.js'></script>

{{!-- Records Container --}}
<div class='container-fluid'>
    <div id='recordsContainer' class="row"></div>
</div>

<script>

    // DELETE RECORD CLICK ##############################################
    //Fade out card when record deleted
    $(document).on('click', '.deleteRecordButton', function () {
        let idToDelete = $(this).attr('id')
        deleteEntry(idToDelete)
        $(this).parent().parent().parent().fadeOut()
    })
</script>